@font-face {
  font-family: "Story Script";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("https://anthonyepoulin.sharepoint.com/SiteAssets/fonts/StoryScript.woff2")
    format("woff2");
}
